<%= javascript_include_tag("home/banner/banner.js") %>
<%= javascript_include_tag("owl-carousel/owl.carousel.js") %>
<%= javascript_include_tag("owl-carousel/owl.carousel.min.js") %>
<%= stylesheet_link_tag("owl-carousel/owl.carousel") %>
<%= stylesheet_link_tag("owl-carousel/owl.theme") %>
<%= stylesheet_link_tag("owl-carousel/owl.transitions") %>


<div id="owl-demo" class="owl-carousel owl-theme">

  <div class="item"><%= image_tag("feature/1.jpg")%></div>
  <div class="item"><%= image_tag("feature/2.jpg")%></div>
  <div class="item"><%= image_tag("feature/3.jpg")%></div>

</div>